!!! 5
%html
  %head
    %title D&D Sound Board
    %link{rel: "icon", type: "image/x-icon", href:"favicon.ico"}
    %link{rel: "icon", type: "image/png", href: "favicon/favicon-16x16.png", sizes: "16x16"}
    %link{rel: "icon", type: "image/png", href: "favicon/favicon-32x32.png", sizes: "32x32"}
    %link{rel: "apple-touch-icon", sizes: "180x180", href: "favicon/apple-touch-icon.png"}
    %link{rel: "icon", type: "image/png", sizes: "192x192", href: "favicon/android-chrome-192x192.png"}
    %link{rel: "icon", type: "image/png", sizes: "512x512", href: "favicon/android-chrome-512x512.png"}

    %meta{charset: "ISO-8859-1"}

    %meta{name: "description", content: "Site description"}
    %meta{name: "keywords", content: "website, staticz"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %meta{property: "og:site_name", content: "example.com"}
    %meta{property: "og:title", content: "Site created with staticz"}
    %meta{property: "og:description", content: "Site description"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "https://example.com/"}
    %meta{property: "og:title", content: "App created with staticz"}

    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true}
    %link{href: "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap", rel: "stylesheet"}

    %link{href: 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css', rel: 'stylesheet'}

    %script{type: "module"}
      :plain
        import { Application } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
        window.Stimulus = Application.start()

    %script{type: "module", src: js_sound_controller_path}
    %script{type: "module", src: js_filter_controller_path}

    :javascript
      current_audio = null

      function sleep(milliseconds) {
        return new Promise(resolve => setTimeout(resolve, milliseconds));
      }

    = stylesheet css_main_path
    = stylesheet css_sound_card_path

    = reload_js
  %body
    %main.soundBoard{data: {controller: "filter"}}
      - sounds = load_sounds
      .soundBoard-filter
        .soundBoard-filter-title Search
        %input.soundBoard-filter-input{data: {filter_target: "input", action: "input->filter#filter"}}
        .soundBoard-filter-tags
          - sounds.map(&:tags).flatten.uniq.sort.each do |tag|
            .soundBoard-filter-tags-tag{data: {filter_target: "tag", action: "click->filter#toggleTag click->filter#filter", tag: tag}}= tag
      - sounds.group_by(&:category).each do |category, category_sounds|
        .soundBoard-category
          .soundBoard-category-title= category || "Uncategorized"
          .soundBoard-category-sounds
            - category_sounds.each do |sound|
              = render "partials/sound", locals: {sound: sound}
